In [1]:
!unzip tvm.zip

Archive:  tvm.zip
  inflating: tvm/42001.json
  inflating: tvm/42002.json
  inflating: tvm/42003.json
  inflating: tvm/42004.json
  inflating: tvm/42005.json
  inflating: tvm/42006.json
  inflating: tvm/42007.json
  inflating: tvm/42008.json
  inflating: tvm/42011.json
  inflating: tvm/42013.json
  inflating: tvm/42014.json
  inflating: tvm/42015.json
  inflating: tvm/42016.json
  inflating: tvm/42018.json
  inflating: tvm/42019.json
  inflating: tvm/42020.json
  inflating: tvm/42021.json
  inflating: tvm/42022.json
  inflating: tvm/42023.json
  inflating: tvm/42024.json
  inflating: tvm/42025.json
  inflating: tvm/42026.json
  inflating: tvm/42027.json
  inflating: tvm/42028.json
  inflating: tvm/42029.json
  inflating: tvm/42030.json
  inflating: tvm/42031.json
  inflating: tvm/42032.json
  inflating: tvm/42033.json
  inflating: tvm/42034.json
  inflating: tvm/42035.json
  inflating: tvm/42036.json
  inflating: tvm/42037.json
  inflating: tvm/42039.json
  inflating: tvm/42040.json
  inflating: tvm/42041.json
  inflating: tvm/42042.json
  inflating: tvm/42044.json
  inflating: tvm/42046.json
  inflating: tvm/42047.json
  inflating: tvm/42048.json
  inflating: tvm/42049.json
  inflating: tvm/42050.json
  inflating: tvm/42051.json
  inflating: tvm/42052.json
  inflating: tvm/42053.json
  inflating: tvm/42054.json
  inflating: tvm/42055.json
  inflating: tvm/42056.json
  inflating: tvm/42057.json
  inflating: tvm/42058.json
  inflating: tvm/42059.json
  inflating: tvm/42060.json
  inflating: tvm/42061.json
  inflating: tvm/42062.json
  inflating: tvm/42063.json
  inflating: tvm/42064.json
  inflating: tvm/42065.json
  inflating: tvm/42066.json
  inflating: tvm/42067.json
  inflating: tvm/42068.json
  inflating: tvm/42069.json
  inflating: tvm/42070.json
  inflating: tvm/42071.json
  inflating: tvm/42072.json
  inflating: tvm/42073.json
  inflating: tvm/42074.json
  inflating: tvm/42075.json
  inflating: tvm/42076.json
  inflating: tvm/42084.json
  inflating: tvm/42085.json
  inflating: tvm/42086.json
  inflating: tvm/42087.json
  inflating: tvm/42088.json
  inflating: tvm/42151.json
  inflating: tvm/42201.json
  inflating: tvm/42202.json
  inflating: tvm/42203.json
  inflating: tvm/42204.json
  inflating: tvm/42205.json
  inflating: tvm/42206.json
  inflating: tvm/42207.json
  inflating: tvm/42208.json
  inflating: tvm/42209.json
  inflating: tvm/42210.json
  inflating: tvm/42211.json
  inflating: tvm/42212.json
  inflating: tvm/42214.json
  inflating: tvm/42215.json
  inflating: tvm/42216.json
  inflating: tvm/42217.json
  inflating: tvm/42218.json
  inflating: tvm/42219.json
  inflating: tvm/42220.json
  inflating: tvm/42221.json
  inflating: tvm/42222.json
  inflating: tvm/42223.json
  inflating: tvm/42224.json
  inflating: tvm/42225.json
  inflating: tvm/42226.json
  inflating: tvm/42227.json
  inflating: tvm/42228.json
  inflating: tvm/42229.json
  inflating: tvm/42230.json
  inflating: tvm/42231.json
  inflating: tvm/42232.json
  inflating: tvm/42233.json
  inflating: tvm/42234.json
  inflating: tvm/42235.json
  inflating: tvm/42236.json
  inflating: tvm/42237.json
  inflating: tvm/42238.json
  inflating: tvm/42239.json
  inflating: tvm/42240.json
  inflating: tvm/42241.json
  inflating: tvm/42242.json
  inflating: tvm/42243.json
  inflating: tvm/42244.json
  inflating: tvm/42245.json
  inflating: tvm/42246.json
  inflating: tvm/42247.json
  inflating: tvm/42248.json
  inflating: tvm/42249.json
  inflating: tvm/42250.json
  inflating: tvm/42251.json
  inflating: tvm/42252.json
  inflating: tvm/42253.json
  inflating: tvm/42254.json
  inflating: tvm/42255.json
  inflating: tvm/42270.json
  inflating: tvm/42301.json
  inflating: tvm/42302.json
  inflating: tvm/42303.json
  inflating: tvm/42304.json
  inflating: tvm/42305.json
  inflating: tvm/42306.json
  inflating: tvm/42307.json
  inflating: tvm/42308.json
  inflating: tvm/42309.json
  inflating: tvm/42310.json
  inflating: tvm/42311.json
  inflating: tvm/42312.json
  inflating: tvm/42313.json
  inflating: tvm/42314.json
  inflating: tvm/42315.json
  inflating: tvm/42316.json
  inflating: tvm/42317.json
  inflating: tvm/42318.json
  inflating: tvm/42319.json
  inflating: tvm/42320.json
  inflating: tvm/42321.json
  inflating: tvm/42322.json
  inflating: tvm/42323.json
  inflating: tvm/42324.json
  inflating: tvm/42325.json
  inflating: tvm/42326.json
  inflating: tvm/42327.json
  inflating: tvm/42328.json
  inflating: tvm/42329.json
  inflating: tvm/42330.json
  inflating: tvm/42331.json
  inflating: tvm/42332.json
  inflating: tvm/42333.json
  inflating: tvm/42334.json
  inflating: tvm/42335.json
  inflating: tvm/42336.json
  inflating: tvm/42337.json
  inflating: tvm/42338.json
  inflating: tvm/42339.json
  inflating: tvm/42340.json
  inflating: tvm/42341.json
  inflating: tvm/42343.json
  inflating: tvm/42344.json
  inflating: tvm/42345.json
  inflating: tvm/42347.json
  inflating: tvm/42348.json
  inflating: tvm/42349.json
  inflating: tvm/42350.json
  inflating: tvm/42351.json
  inflating: tvm/42352.json
  inflating: tvm/42353.json
  inflating: tvm/42354.json
  inflating: tvm/42355.json
  inflating: tvm/42356.json
  inflating: tvm/42357.json
  inflating: tvm/42358.json
  inflating: tvm/42359.json
  inflating: tvm/42360.json
  inflating: tvm/42361.json
  inflating: tvm/42362.json
  inflating: tvm/42363.json
  inflating: tvm/42364.json
  inflating: tvm/42365.json
  inflating: tvm/42366.json
  inflating: tvm/42401.json
  inflating: tvm/42402.json
  inflating: tvm/42403.json
  inflating: tvm/42404.json
  inflating: tvm/42405.json
  inflating: tvm/42406.json
  inflating: tvm/42407.json
  inflating: tvm/42408.json
  inflating: tvm/42409.json
  inflating: tvm/42410.json
  inflating: tvm/42411.json
  inflating: tvm/42412.json
  inflating: tvm/42413.json
  inflating: tvm/42414.json
  inflating: tvm/42415.json
  inflating: tvm/42416.json
  inflating: tvm/42417.json
  inflating: tvm/42418.json
  inflating: tvm/42419.json
  inflating: tvm/42420.json
  inflating: tvm/42421.json
  inflating: tvm/42422.json
  inflating: tvm/42423.json
  inflating: tvm/42424.json
  inflating: tvm/42425.json
  inflating: tvm/42426.json
  inflating: tvm/42427.json
  inflating: tvm/42428.json
  inflating: tvm/42429.json
  inflating: tvm/42430.json
  inflating: tvm/42431.json
  inflating: tvm/42432.json
  inflating: tvm/42433.json
  inflating: tvm/42434.json
  inflating: tvm/42435.json
  inflating: tvm/42436.json
  inflating: tvm/42437.json
  inflating: tvm/42438.json
  inflating: tvm/42439.json
  inflating: tvm/42440.json
  inflating: tvm/42441.json
  inflating: tvm/42443.json
  inflating: tvm/42444.json
  inflating: tvm/42445.json
  inflating: tvm/42446.json
  inflating: tvm/42447.json
  inflating: tvm/42450.json
  inflating: tvm/42451.json
  inflating: tvm/42452.json
  inflating: tvm/42453.json
  inflating: tvm/42454.json
  inflating: tvm/42455.json
  inflating: tvm/42456.json
  inflating: tvm/42457.json
  inflating: tvm/42458.json
  inflating: tvm/42459.json
  inflating: tvm/42460.json
  inflating: tvm/42461.json
  inflating: tvm/42501.json
  inflating: tvm/42502.json
  inflating: tvm/42503.json
  inflating: tvm/42504.json
  inflating: tvm/42505.json
  inflating: tvm/42506.json
  inflating: tvm/42507.json
  inflating: tvm/42508.json
  inflating: tvm/42509.json
  inflating: tvm/42510.json
  inflating: tvm/42511.json
  inflating: tvm/42512.json
  inflating: tvm/42513.json
  inflating: tvm/42514.json
  inflating: tvm/42515.json
  inflating: tvm/42516.json
  inflating: tvm/42517.json
  inflating: tvm/42518.json
  inflating: tvm/42519.json
  inflating: tvm/42520.json
  inflating: tvm/42521.json
  inflating: tvm/42522.json
  inflating: tvm/42523.json
  inflating: tvm/42524.json
  inflating: tvm/42525.json
  inflating: tvm/42526.json
  inflating: tvm/42527.json
  inflating: tvm/42528.json
  inflating: tvm/42529.json
  inflating: tvm/42530.json
  inflating: tvm/42531.json
  inflating: tvm/42532.json
  inflating: tvm/42533.json
  inflating: tvm/42534.json
  inflating: tvm/42535.json
  inflating: tvm/42536.json
  inflating: tvm/42537.json
  inflating: tvm/42540.json
  inflating: tvm/42541.json
  inflating: tvm/42542.json
  inflating: tvm/42543.json
  inflating: tvm/42544.json
  inflating: tvm/42545.json
  inflating: tvm/42546.json
  inflating: tvm/42547.json
  inflating: tvm/42548.json
  inflating: tvm/42549.json
  inflating: tvm/42550.json
  inflating: tvm/42551.json
  inflating: tvm/42552.json
  inflating: tvm/42553.json
  inflating: tvm/42554.json
  inflating: tvm/42555.json
  inflating: tvm/42556.json
  inflating: tvm/42557.json
  inflating: tvm/42558.json
  inflating: tvm/42560.json
  inflating: tvm/42561.json
  inflating: tvm/42562.json
  inflating: tvm/42563.json
  inflating: tvm/42564.json
  inflating: tvm/42601.json
  inflating: tvm/42602.json
  inflating: tvm/42603.json
  inflating: tvm/42604.json
  inflating: tvm/42605.json
  inflating: tvm/42606.json
  inflating: tvm/42607.json
  inflating: tvm/42608.json
  inflating: tvm/42609.json
  inflating: tvm/42610.json
  inflating: tvm/42611.json
  inflating: tvm/42612.json
  inflating: tvm/42613.json
  inflating: tvm/42614.json
  inflating: tvm/42615.json
  inflating: tvm/42616.json
  inflating: tvm/42617.json
  inflating: tvm/42618.json
  inflating: tvm/42619.json
  inflating: tvm/42620.json
  inflating: tvm/42621.json
  inflating: tvm/42622.json
  inflating: tvm/42623.json
  inflating: tvm/42624.json
  inflating: tvm/42625.json
  inflating: tvm/42626.json
  inflating: tvm/42627.json
  inflating: tvm/42628.json
  inflating: tvm/42629.json
  inflating: tvm/42630.json
  inflating: tvm/42631.json
  inflating: tvm/42632.json
  inflating: tvm/42633.json
  inflating: tvm/42634.json
  inflating: tvm/42635.json
  inflating: tvm/42636.json
  inflating: tvm/42637.json
  inflating: tvm/42638.json
  inflating: tvm/42639.json
  inflating: tvm/42641.json
  inflating: tvm/42643.json
  inflating: tvm/42646.json
  inflating: tvm/42647.json
  inflating: tvm/42648.json
  inflating: tvm/42649.json
  inflating: tvm/42650.json
  inflating: tvm/42651.json
  inflating: tvm/42652.json
  inflating: tvm/42653.json
  inflating: tvm/42654.json
  inflating: tvm/42655.json
  inflating: tvm/42656.json
  inflating: tvm/42657.json
  inflating: tvm/42658.json
  inflating: tvm/42659.json
  inflating: tvm/42660.json
  inflating: tvm/42661.json
  inflating: tvm/42662.json
  inflating: tvm/42664.json
  inflating: tvm/42666.json
  inflating: tvm/42667.json
  inflating: tvm/42668.json
  inflating: tvm/42669.json
  inflating: tvm/42670.json
  inflating: tvm/43001.json
  inflating: tvm/43002.json
  inflating: tvm/43003.json
  inflating: tvm/43004.json
  inflating: tvm/43005.json
  inflating: tvm/43006.json
  inflating: tvm/43007.json
  inflating: tvm/43008.json
  inflating: tvm/43010.json
  inflating: tvm/43012.json
  inflating: tvm/43013.json
  inflating: tvm/43014.json
  inflating: tvm/43015.json
  inflating: tvm/43017.json
  inflating: tvm/43018.json
  inflating: tvm/43019.json
  inflating: tvm/43022.json
  inflating: tvm/43024.json
  inflating: tvm/43026.json
  inflating: tvm/43027.json
  inflating: tvm/43029.json
  inflating: tvm/43031.json
  inflating: tvm/43032.json
  inflating: tvm/43033.json
  inflating: tvm/43034.json
  inflating: tvm/43035.json
  inflating: tvm/43036.json
  inflating: tvm/43037.json
  inflating: tvm/43038.json
  inflating: tvm/43039.json
  inflating: tvm/43040.json
  inflating: tvm/43041.json
  inflating: tvm/43042.json
  inflating: tvm/43045.json
  inflating: tvm/43047.json
  inflating: tvm/43050.json
  inflating: tvm/43051.json
  inflating: tvm/43052.json
  inflating: tvm/43053.json
  inflating: tvm/43054.json
  inflating: tvm/43055.json
  inflating: tvm/43056.json
  inflating: tvm/43057.json
  inflating: tvm/43059.json
  inflating: tvm/43060.json
  inflating: tvm/43061.json
  inflating: tvm/43062.json
  inflating: tvm/43063.json
  inflating: tvm/43064.json
  inflating: tvm/43065.json
  inflating: tvm/43066.json
  inflating: tvm/43067.json
  inflating: tvm/43068.json
  inflating: tvm/43069.json
  inflating: tvm/43070.json
  inflating: tvm/43072.json
  inflating: tvm/43073.json
  inflating: tvm/43074.json
  inflating: tvm/43075.json
  inflating: tvm/43076.json
  inflating: tvm/43078.json
  inflating: tvm/43079.json
  inflating: tvm/43080.json
  inflating: tvm/43081.json
  inflating: tvm/43082.json
  inflating: tvm/43083.json
  inflating: tvm/43084.json
  inflating: tvm/43085.json
  inflating: tvm/43087.json
  inflating: tvm/43088.json
  inflating: tvm/43090.json
  inflating: tvm/43091.json
  inflating: tvm/43109.json
  inflating: tvm/43111.json
  inflating: tvm/43114.json
  inflating: tvm/43116.json
  inflating: tvm/43117.json
  inflating: tvm/43138.json
  inflating: tvm/43201.json
  inflating: tvm/43202.json
  inflating: tvm/43203.json
  inflating: tvm/43204.json
  inflating: tvm/43205.json
  inflating: tvm/43206.json
  inflating: tvm/43207.json
  inflating: tvm/43208.json
  inflating: tvm/43209.json
  inflating: tvm/43210.json
  inflating: tvm/43211.json
  inflating: tvm/43212.json
  inflating: tvm/43213.json
  inflating: tvm/43214.json
  inflating: tvm/43215.json
  inflating: tvm/43216.json
  inflating: tvm/43217.json
  inflating: tvm/43218.json
  inflating: tvm/43219.json
  inflating: tvm/43220.json
  inflating: tvm/43221.json
  inflating: tvm/43222.json
  inflating: tvm/43223.json
  inflating: tvm/43224.json
  inflating: tvm/43225.json
  inflating: tvm/43226.json
  inflating: tvm/43231.json
  inflating: tvm/43232.json
  inflating: tvm/43233.json
  inflating: tvm/43234.json
  inflating: tvm/43235.json
  inflating: tvm/43236.json
  inflating: tvm/43237.json
  inflating: tvm/43238.json
  inflating: tvm/43239.json
  inflating: tvm/43240.json
  inflating: tvm/43241.json
  inflating: tvm/43242.json
  inflating: tvm/43243.json
  inflating: tvm/43244.json
  inflating: tvm/43245.json
  inflating: tvm/43246.json
  inflating: tvm/43247.json
  inflating: tvm/43248.json
  inflating: tvm/43249.json
  inflating: tvm/43250.json
  inflating: tvm/43252.json
  inflating: tvm/43253.json
  inflating: tvm/43254.json
  inflating: tvm/43264.json
  inflating: tvm/43266.json
  inflating: tvm/43267.json
  inflating: tvm/43270.json
  inflating: tvm/43301.json
  inflating: tvm/43302.json
  inflating: tvm/43303.json
  inflating: tvm/43304.json
  inflating: tvm/43305.json
  inflating: tvm/43306.json
  inflating: tvm/43307.json
  inflating: tvm/43308.json
  inflating: tvm/43309.json
  inflating: tvm/43312.json
  inflating: tvm/43313.json
  inflating: tvm/43314.json
  inflating: tvm/43315.json
  inflating: tvm/43316.json
  inflating: tvm/43317.json
  inflating: tvm/43318.json
  inflating: tvm/43319.json
  inflating: tvm/43320.json
  inflating: tvm/43321.json
  inflating: tvm/43322.json
  inflating: tvm/43328.json
  inflating: tvm/43329.json
  inflating: tvm/43330.json
  inflating: tvm/43331.json
  inflating: tvm/43332.json
  inflating: tvm/43333.json
  inflating: tvm/43334.json
  inflating: tvm/43335.json
  inflating: tvm/43336.json
  inflating: tvm/43337.json
  inflating: tvm/43338.json
  inflating: tvm/43339.json
  inflating: tvm/43340.json
  inflating: tvm/43341.json
  inflating: tvm/43342.json
  inflating: tvm/43343.json
  inflating: tvm/43346.json
  inflating: tvm/43347.json
  inflating: tvm/43348.json
  inflating: tvm/43349.json
  inflating: tvm/43350.json
  inflating: tvm/43351.json
  inflating: tvm/43354.json
  inflating: tvm/43355.json
  inflating: tvm/43371.json
  inflating: tvm/43402.json
  inflating: tvm/43403.json
  inflating: tvm/43404.json
  inflating: tvm/43405.json
  inflating: tvm/43406.json
  inflating: tvm/43407.json
  inflating: tvm/43408.json
  inflating: tvm/43409.json
  inflating: tvm/43410.json
  inflating: tvm/43411.json
  inflating: tvm/43412.json
  inflating: tvm/43413.json
  inflating: tvm/43414.json
  inflating: tvm/43415.json
  inflating: tvm/43416.json
  inflating: tvm/43417.json
  inflating: tvm/43418.json
  inflating: tvm/43419.json
  inflating: tvm/43420.json
  inflating: tvm/43421.json
  inflating: tvm/43422.json
  inflating: tvm/43423.json
  inflating: tvm/43424.json
  inflating: tvm/43425.json
  inflating: tvm/43426.json
  inflating: tvm/43427.json
  inflating: tvm/43428.json
  inflating: tvm/43429.json
  inflating: tvm/43430.json
  inflating: tvm/43431.json
  inflating: tvm/43432.json
  inflating: tvm/43433.json
  inflating: tvm/43434.json
  inflating: tvm/43435.json
  inflating: tvm/43439.json
  inflating: tvm/43440.json
  inflating: tvm/43441.json
  inflating: tvm/43442.json
  inflating: tvm/43443.json
  inflating: tvm/43444.json
  inflating: tvm/43445.json
  inflating: tvm/43446.json
  inflating: tvm/43447.json
  inflating: tvm/43448.json
  inflating: tvm/43449.json
  inflating: tvm/43450.json
  inflating: tvm/43451.json
  inflating: tvm/43452.json
  inflating: tvm/43453.json
  inflating: tvm/43454.json
  inflating: tvm/43455.json
  inflating: tvm/43456.json
  inflating: tvm/43457.json
  inflating: tvm/43458.json
  inflating: tvm/43459.json
  inflating: tvm/43460.json
  inflating: tvm/43461.json
  inflating: tvm/43462.json
  inflating: tvm/43463.json
  inflating: tvm/43465.json
  inflating: tvm/43501.json
  inflating: tvm/44001.json
  inflating: tvm/44002.json
  inflating: tvm/44003.json
  inflating: tvm/44004.json
  inflating: tvm/44005.json
  inflating: tvm/44006.json
  inflating: tvm/44007.json
  inflating: tvm/44008.json
  inflating: tvm/44009.json
  inflating: tvm/44010.json
  inflating: tvm/44011.json
  inflating: tvm/44012.json
  inflating: tvm/44013.json
  inflating: tvm/44014.json
  inflating: tvm/44015.json
  inflating: tvm/44016.json
  inflating: tvm/44017.json
  inflating: tvm/44018.json
  inflating: tvm/44019.json
  inflating: tvm/44020.json
  inflating: tvm/44021.json
  inflating: tvm/44022.json
  inflating: tvm/44023.json
  inflating: tvm/44024.json
  inflating: tvm/44025.json
  inflating: tvm/44026.json
  inflating: tvm/44027.json
  inflating: tvm/44028.json
  inflating: tvm/44029.json
  inflating: tvm/44030.json
  inflating: tvm/44031.json
  inflating: tvm/44032.json
  inflating: tvm/44033.json
  inflating: tvm/44034.json
  inflating: tvm/44035.json
  inflating: tvm/44036.json
  inflating: tvm/44037.json
  inflating: tvm/44038.json
  inflating: tvm/44040.json
  inflating: tvm/44041.json
  inflating: tvm/44042.json
  inflating: tvm/44043.json
  inflating: tvm/44044.json
  inflating: tvm/44045.json
  inflating: tvm/44046.json
  inflating: tvm/44047.json
  inflating: tvm/44049.json
  inflating: tvm/44050.json
  inflating: tvm/44051.json
  inflating: tvm/44052.json
  inflating: tvm/44053.json
  inflating: tvm/44054.json
  inflating: tvm/44055.json
  inflating: tvm/44056.json
  inflating: tvm/44057.json
  inflating: tvm/44058.json
  inflating: tvm/44059.json
  inflating: tvm/44060.json
  inflating: tvm/44061.json
  inflating: tvm/44062.json
  inflating: tvm/44063.json
  inflating: tvm/44064.json
  inflating: tvm/44065.json
  inflating: tvm/44066.json
  inflating: tvm/44067.json
  inflating: tvm/44068.json
  inflating: tvm/44069.json
  inflating: tvm/44070.json
  inflating: tvm/44071.json
  inflating: tvm/44072.json
  inflating: tvm/44073.json
  inflating: tvm/44080.json
  inflating: tvm/44201.json
  inflating: tvm/44202.json
  inflating: tvm/44203.json
  inflating: tvm/44204.json
  inflating: tvm/44205.json
  inflating: tvm/44206.json
  inflating: tvm/44207.json
  inflating: tvm/44208.json
  inflating: tvm/44209.json
  inflating: tvm/44210.json
  inflating: tvm/44211.json
  inflating: tvm/44212.json
  inflating: tvm/44213.json
  inflating: tvm/44214.json
  inflating: tvm/44215.json
  inflating: tvm/44216.json
  inflating: tvm/44217.json
  inflating: tvm/44218.json
  inflating: tvm/44219.json
  inflating: tvm/44220.json
  inflating: tvm/44221.json
  inflating: tvm/44222.json
  inflating: tvm/44223.json
  inflating: tvm/44224.json
  inflating: tvm/44225.json
  inflating: tvm/44226.json
  inflating: tvm/44227.json

In [2]:
import os
import re
import json
import pandas as pd

In [3]:
folderPath='/content/tvm/'
os.chdir(folderPath)
data = []
    
    #Iterating through the files in the folder and appending all the data to the list
for filename in os.listdir():
    if filename.endswith('.json'):
        with open(filename) as f:
            d = json.load(f)
            dct = {k:[v] for k,v in d.items()}
            df = pd.DataFrame(dct)
            data.append(df)
final_data = pd.concat(data)

In [4]:
mydata=final_data
mydata.shape

(911, 542)

## creating a dataframe of employee details alone:

In [5]:
mydata_a=mydata.iloc[:,75:]      #dataframe with columns starting from 75th .
all_=mydata_a.columns.values.tolist()       #taking a list of the above created dataframe.
st=mydata_a.filter(like="_")         #dataframe with columns having _ in the column name.
st=st.columns.values.tolist()        #list of columns in this dataframe.

#removing all columns with _ fromthe table mydata_a
faculty=[]
for i in all_ :
    if i not in st:
        faculty.append(i)
faculty_only=mydata.loc[:,faculty]
droplist=[' Total Employees ','LP Section Phone','LP Section Email','Section Phone','Section Email','UP Section Phone','UP Section Email']
for j in droplist:
    if j in faculty_only.columns:
        faculty_only.drop(j,axis=1,inplace = True)

In [6]:
faculty_only.shape

(911, 283)

In [7]:
faculty_count=faculty_only.count().to_frame(name='faculty_count')

In [8]:
faculty_count.T

               High School Assistant   ...  Teacher Educator Sel Gr
faculty_count                     105  ...                         1

[1 rows x 283 columns]

# Classification:   LP, UP, High School, Activity teachers, Non teaching staff

In [9]:
# list to keep track of classified columns:
classified=[]
def classified_columns(li):
    for a in li:
        classified.append(a)

### LP:  having 'L P' ,'LPSA', 'P D', 'primary', 'Primary' :

In [10]:
lp=faculty_only.filter(like="L P").astype(float)
lps=faculty_only.filter(like="LPS").astype(float)
pdt=faculty_only.filter(like="P D").astype(float)
prim1=faculty_only.filter(like="Primary").astype(float)
prim2=faculty_only.filter(like="primary").astype(float)

In [11]:
lpdf=pd.concat([lp,lps,pdt,prim1,prim2],axis=1)

In [12]:
lpdf

    L P School Assistant   ...  Part-Time primary  Arabic Teacher
0                     NaN  ...                                 NaN
0                    10.0  ...                                 NaN
0                     NaN  ...                                 NaN
0                     NaN  ...                                 NaN
0                     NaN  ...                                 NaN
..                    ...  ...                                 ...
0                     1.0  ...                                 NaN
0                     NaN  ...                                 NaN
0                     NaN  ...                                 NaN
0                     NaN  ...                                 NaN
0                     2.0  ...                                 NaN

[911 rows x 25 columns]

In [13]:
classified_columns(lpdf.columns) # entering all the columns into classified list
faculty_only.drop(lpdf.columns, axis = 1, inplace = True)   #removing all the classified columns from the original table to avoid confusion.

In [14]:
lpdf=lpdf.sum(1)
LP_Teachers=lpdf.to_frame(name='LP_Teachers')
LP_Teachers

    LP_Teachers
0           0.0
0          13.0
0           7.0
0           0.0
0           0.0
..          ...
0           7.0
0           0.0
0           0.0
0           2.0
0           4.0

[911 rows x 1 columns]

In [15]:
print(len(classified))
print(faculty_only.shape)

25
(911, 258)

## UP teachers= having UP School Assistant,UPSA, UP subject teachers:

In [16]:
upsa=faculty_only.filter(like="UPSA").astype(float)
u=faculty_only.filter(like="UP School Assistant").astype(float)
#subjects:
Junior=faculty_only.filter(like="Junior").astype(float) 
Lower_Grade=faculty_only.filter(like="Lower Grade").astype(float)
LG =faculty_only.filter(like="LG").astype(float)
jr=faculty_only.filter(like="jr").astype(float)

In [17]:
updf=pd.concat([upsa,u,Junior,Lower_Grade,LG,jr],axis=1)

In [18]:
updf

    UPSA   UPSA(HG)   ...  LG Arabic (PT)   Hindi Teacher(jr)
0     NaN        NaN  ...              NaN                 NaN
0     NaN        NaN  ...              NaN                 NaN
0     NaN        NaN  ...              NaN                 NaN
0     1.0        NaN  ...              NaN                 NaN
0     NaN        NaN  ...              NaN                 NaN
..    ...        ...  ...              ...                 ...
0     NaN        NaN  ...              NaN                 NaN
0     NaN        NaN  ...              NaN                 NaN
0     NaN        NaN  ...              NaN                 NaN
0     NaN        NaN  ...              NaN                 NaN
0     NaN        NaN  ...              NaN                 NaN

[911 rows x 43 columns]

In [19]:
k=updf.columns.values.tolist()
k

['UPSA ',
 'UPSA(HG) ',
 'UP School Assistant (Sel Gr) ',
 'UP School Assistant (Snr Gr) ',
 'UP School Assistant (HG) ',
 'UP School Assistant ',
 'UP School Assistant Grade I ',
 'UP School Assistant(Before 11/04/2013) ',
 'UP School Assistant Grade II ',
 'UP School Assistant Arabic (Sr Gr) ',
 'UP School Assistant Urdu (Sel Gr) ',
 'Junior Hindi Teacher Gr II ',
 'Junior Arabic Teacher (Snr Gr) ',
 'Junior Arabic Teacher Gr I ',
 'Junior Hindi Teacher (Sr Gr) ',
 'Junior Arabic Teacher Gr II ',
 'Part Time Junior Sanskrit Teacher ',
 'Junior Sanskrit Teacher (Sel. Gr) ',
 'Junior Hindi Teacher Gr I ',
 'Junior Sanskrit Teacher Gr I ',
 'Junior Sanskrit Teacher Gr II ',
 'Junior Hindi Teacher (Sel Gr) ',
 'Part Time Junior Hindi Teacher ',
 'Junior Arabic Teacher (Sel Gr) ',
 'Junior Sanskrit Teacher (Snr. Gr) ',
 'Junior Teacher Urdu Gr II ',
 'Lower Grade Hindi (Snr Gr) ',
 'Lower Grade Hindi ',
 'Lower Grade Sanskrit(HG) ',
 'Lower Grade Arabic (Snr Gr) ',
 'Lower Grade Arabic HG ',
 'Lower Grade Hindi(Sel Gr) ',
 'Lower Grade Sanskrit ',
 'Lower Grade Teacher(Before 11/04/2013) ',
 'Lower Grade Arabic ',
 'Lower Grade Hindi (HG) ',
 'Lower Grade Urdu ',
 'Lower Grade Sanskrit(Snr. Grade) ',
 'Lower Grade Hindi(Snr Grade) ',
 'Lower Grade Arabic (Sel Gr) ',
 'Lower Grade Sanskrit(Sel. Gr) ',
 'LG Arabic (PT) ',
 'Hindi Teacher(jr) ']

In [20]:
classified_columns(updf.columns)
faculty_only.drop(updf.columns, axis = 1, inplace = True)

In [21]:
updf=updf.sum(1)
UP_Teachers=updf.to_frame(name='UP_Teachers')
UP_Teachers

    UP_Teachers
0          16.0
0           0.0
0           0.0
0           9.0
0           6.0
..          ...
0           1.0
0           3.0
0           7.0
0           1.0
0           0.0

[911 rows x 1 columns]

In [22]:
print(len(classified))
print(faculty_only.shape)

68
(911, 215)

## High school = having 'High school ' :

In [23]:
hs=faculty_only.filter(like="High School").astype(float)
Lecturer=faculty_only.filter(like="Lecturer").astype(float)

#### High school subject teachers:

In [24]:
#subjects:
hindi=faculty_only.filter(like="Hindi").astype(float) 
e=faculty_only.filter(like="English").astype(float)
t=faculty_only.filter(like="Tamil").astype(float)
m=faculty_only.filter(like="Mathematics").astype(float)
urdu=faculty_only.filter(like="Urdu").astype(float)
urudu=faculty_only.filter(like="Urudu").astype(float)
science=faculty_only.filter(like="Science").astype(float)
sanskrit=faculty_only.filter(like="Sanskrit").astype(float)
arabic=faculty_only.filter(like="Arabic").astype(float)

In [25]:
hsdf=pd.concat([hs,Lecturer,hindi,e,t,m,urdu,urudu,science,sanskrit,arabic],axis=1)

In [26]:
classified_columns(hsdf.columns)
faculty_only.drop(hsdf.columns, axis = 1, inplace = True)
hsdf

    High School Assistant   ...  Arabic (HG)
0                      1.0  ...           NaN
0                      NaN  ...           NaN
0                      NaN  ...           NaN
0                      1.0  ...           NaN
0                      NaN  ...           NaN
..                     ...  ...           ...
0                      NaN  ...           NaN
0                      NaN  ...           NaN
0                      NaN  ...           NaN
0                      NaN  ...           NaN
0                      NaN  ...           NaN

[911 rows x 126 columns]

In [27]:
z=hsdf.columns.values.tolist()
z

['High School Assistant ',
 'High School Assistant Physical Science(Snr. Gr) ',
 'High School Assistant Social Science (HG) ',
 'High School Assistant Hindi(Snr. Gr) ',
 'High School Assistant Hindi ',
 'High School Assistant Malayalam(Snr Gr) ',
 'High School Assistant Mathematics (Snr Gr) ',
 'High School Assistant Physical Science ',
 'High School Assistant Natural Science ',
 'High School Assistant Mathematics ',
 'High School Assistant Social Science(HG) ',
 'High School Assistant English ',
 'High School Assistant English(HG) ',
 'High School Assistant Sanskrit(HG) ',
 'High School Assistant Malayalam(HG) ',
 'High School Assistant Social Science (Snr Grade) ',
 'High School Assistant Natural Science (Snr Gr) ',
 'High School Assistant (Sr Gr) ',
 'High School Assistant (HG) ',
 'High School Assistant Physical Science (HG) ',
 'High School Assistant Natural Science (HG) ',
 'High School Assistant Grade I ',
 'High School Assistant Mathematics(30700-65400) ',
 'High School Assistant Social Science ',
 'High School Assistant English (Snr Gr) ',
 'High School Assistant Mathematics (8 Yrs HG) ',
 'High School Assistant Mathematics (HG) ',
 'High School Assistant (Snr Gr) ',
 'High School Assistant Malayalam ',
 'High School Assistant Physical Science(HG) ',
 'High School Assistant Mathematics(HG) ',
 'High School Assistant Hindi(Sel. Gr) ',
 'Part Time Hindi Teacher High School ',
 'Headmaster/Headmistress HG (High School) ',
 'High School Assistant Malayalam(Sel. Grade) ',
 'High School Assistant Physical Science(Sel Gr) ',
 'High School Assistant Hindi(HG) ',
 'High School Assistant Natural Science (Sel Gr) ',
 'High School Assistant Mathematics (Sel Gr) ',
 'High School Assistant Arabic ',
 'High School Assistant (PD Teacher Sel Gr) ',
 'High School Assistant Sanskrit(Snr Gr) ',
 'High School Assistant Sanskrit ',
 'High School Assistant Physical Science(Sel. Gr) ',
 'High School Assistant English(Sel Gr) ',
 'High School Assistant Arabic (Snr Gr) ',
 'High School Assistant Mathematics(Sel. Gr) ',
 'High School Assistant Malayalam(IInd Grade) ',
 'High School Assistant  (Sel. Gr) ',
 'High School Assistant Sanskrit(Sel Gr) ',
 'High School Assistant Social Science(Sel Gr) ',
 'High School Assistant Arabic (HG) ',
 'High School Assistant(Before 11/04/2013) ',
 'High School Assistant malayalam(HG 18740-33680) ',
 'High School Assistant (Lower Scale) ',
 'Part Time Arabic Teacher High School ',
 'High School Assistant Sel Gr ',
 'High School Assistant Mathematics (15 Yrs HG) ',
 'High School Asst (lower scale) ',
 'High School Assistant  (14620) ',
 'High School Assistant HG(16980-31360) ',
 'High School Assistant Sr Gr(School for Handicapped) ',
 'High School Assistant HG(School for Handicapped) ',
 'High School Assistant Sel Gr(School for Handicapped) ',
 'High School Assistant(School for Handicapped) ',
 'High School Assistant Grade II ',
 'High School Assistant Sanskrit (Part Time) ',
 'Lecturer ',
 'High School Assistant Hindi(Snr. Gr) ',
 'High School Assistant Hindi ',
 'Full time Hindi Teacher HG ',
 'Full time Hindi  Teacher ',
 'Full time Hindi Teacher (Snr Gr) ',
 'Full time Hindi Teacher(Sel Gr) ',
 'Part Time Hindi Teacher ',
 'High School Assistant Hindi(Sel. Gr) ',
 'Part Time Hindi Teacher High School ',
 'High School Assistant Hindi(HG) ',
 'Part Time Hindi teacher with FT Benefit ',
 'High School Assistant English ',
 'High School Assistant English(HG) ',
 'High School Assistant English (Snr Gr) ',
 'High School Assistant English(Sel Gr) ',
 'High School Assistant Mathematics (Snr Gr) ',
 'High School Assistant Mathematics ',
 'High School Assistant Mathematics(30700-65400) ',
 'High School Assistant Mathematics (8 Yrs HG) ',
 'High School Assistant Mathematics (HG) ',
 'High School Assistant Mathematics(HG) ',
 'High School Assistant Mathematics (Sel Gr) ',
 'High School Assistant Mathematics(Sel. Gr) ',
 'High School Assistant Mathematics (15 Yrs HG) ',
 'Full time Urdu Teacher ',
 'High School Assistant Physical Science(Snr. Gr) ',
 'High School Assistant Social Science (HG) ',
 'High School Assistant Physical Science ',
 'High School Assistant Natural Science ',
 'High School Assistant Social Science(HG) ',
 'High School Assistant Social Science (Snr Grade) ',
 'High School Assistant Natural Science (Snr Gr) ',
 'High School Assistant Physical Science (HG) ',
 'High School Assistant Natural Science (HG) ',
 'High School Assistant Social Science ',
 'High School Assistant Physical Science(HG) ',
 'High School Assistant Physical Science(Sel Gr) ',
 'High School Assistant Natural Science (Sel Gr) ',
 'High School Assistant Physical Science(Sel. Gr) ',
 'High School Assistant Social Science(Sel Gr) ',
 'High School Assistant Sanskrit(HG) ',
 'Full Time Sanskrit Teacher ',
 'Full Time Sanskrit Teacher HG ',
 'High School Assistant Sanskrit(Snr Gr) ',
 'High School Assistant Sanskrit ',
 'Part Time Sanskrit Teacher with Full Time Benefit ',
 'High School Assistant Sanskrit(Sel Gr) ',
 'High School Assistant Sanskrit (Part Time) ',
 'Full time Arabic Teacher (Snr Gr) ',
 'Full time Arabic Teacher ',
 'Full time Arabic Teacher (Sel Gr) ',
 'High School Assistant Arabic ',
 'High School Assistant Arabic (Snr Gr) ',
 'High School Assistant Arabic (HG) ',
 'Full time Arabic Teacher HG ',
 'Part Time Arabic Teacher High School ',
 'Arabic Teacher(Sel. Gr) ',
 'Arabic (HG) ']

In [28]:
newdfhs=hsdf.sum(1)
High_School_Teachers=newdfhs.to_frame(name='High_School_Teachers')
High_School_Teachers

    High_School_Teachers
0                   47.0
0                    0.0
0                    1.0
0                   26.0
0                    0.0
..                   ...
0                    2.0
0                    1.0
0                    1.0
0                    0.0
0                    0.0

[911 rows x 1 columns]

In [29]:
print(len(classified))
print(faculty_only.shape)

194
(911, 131)

## arts and craft teachers:

In [30]:
pt=faculty_only.filter(like="Physical Educ").astype(float) 
c=faculty_only.filter(like="Craft").astype(float)
d=faculty_only.filter(like="Drawing").astype(float)
music=faculty_only.filter(like="Music").astype(float)
nw=faculty_only.filter(like="Needle Work").astype(float)
sewing=faculty_only.filter(like="Sewing").astype(float)
Braillist=faculty_only.filter(like="Braillist").astype(float)
Workshop=faculty_only.filter(like="Workshop Instructor").astype(float)
Weaving=faculty_only.filter(like="Weaving").astype(float)
#adding assistant teachers along with common teachers as they will be common for all special students 
assistant=faculty_only.filter(like="Ass").astype(float)
Special_Teacher=faculty_only.filter(like="Special Teacher").astype(float)

In [31]:
assistant

    Assistant Teacher    ...  Assistant Teacher (with Spl Trg.)Sel. Gr
0                   NaN  ...                                        NaN
0                   NaN  ...                                        NaN
0                   NaN  ...                                        NaN
0                   1.0  ...                                        NaN
0                   NaN  ...                                        NaN
..                  ...  ...                                        ...
0                   NaN  ...                                        NaN
0                   NaN  ...                                        NaN
0                   NaN  ...                                        NaN
0                   NaN  ...                                        NaN
0                   NaN  ...                                        NaN

[911 rows x 8 columns]

In [32]:
common=pd.concat([pt,c,d,music,nw,sewing,Braillist,Workshop,Weaving,assistant,Special_Teacher],axis=1)

In [33]:
common

    Physical Education Teacher(Before 11/04/2013)   ...  Special Teacher Grade I
0                                              1.0  ...                       NaN
0                                              NaN  ...                       NaN
0                                              NaN  ...                       NaN
0                                              NaN  ...                       NaN
0                                              1.0  ...                       NaN
..                                             ...  ...                       ...
0                                              NaN  ...                       NaN
0                                              NaN  ...                       NaN
0                                              NaN  ...                       NaN
0                                              NaN  ...                       NaN
0                                              NaN  ...                       NaN

[911 rows x 43 columns]

In [34]:
classified_columns(common.columns)
faculty_only.drop(common.columns, axis = 1, inplace = True)

In [35]:
common=common.sum(1)
Activity_Teachers=common.to_frame(name='Music/craft/pt/drawing/needle_work/sewing')
Activity_Teachers

    Music/craft/pt/drawing/needle_work/sewing
0                                         3.0
0                                         0.0
0                                         0.0
0                                         3.0
0                                         1.0
..                                        ...
0                                         0.0
0                                         0.0
0                                         0.0
0                                         0.0
0                                         0.0

[911 rows x 1 columns]

In [36]:
print(len(classified))
print(faculty_only.shape)

237
(911, 88)

## non teaching staff

In [37]:
clerk = faculty_only.filter(like="Clerk").astype(float) 
LDC = faculty_only.filter(like="LDC").astype(float)
UDC = faculty_only.filter(like="UDC").astype(float)
Attendant = faculty_only.filter(like="Attend").astype(float)
FTM = faculty_only.filter(like="FTM").astype(float)
Mineal = faculty_only.filter(like="Mineal").astype(float)
Menial = faculty_only.filter(like="Menial").astype(float)
Meneal = faculty_only.filter(like="Meneal").astype(float)
Aya = faculty_only.filter(like="Aya").astype(float)
Cleaner = faculty_only.filter(like="Cleaner").astype(float)
Librarian = faculty_only.filter(like="Librarian").astype(float)
Watcher = faculty_only.filter(like="Watcher").astype(float)
Matron = faculty_only.filter(like="Matron").astype(float)
Cook = faculty_only.filter(like="Cook").astype(float)
Guide = faculty_only.filter(like="Guide").astype(float)
packer = faculty_only.filter(like="Packer").astype(float)
Superintendent = faculty_only.filter(like="Superintendent").astype(float)

Sweeper=re.compile(".*Sweeper")
sweep_list = list(filter(Sweeper.match, faculty_only.columns))
sweepdf=faculty_only.loc[:,sweep_list] 

Scavenger=re.compile("^Scavenger")
Scavenger_list = list(filter(Scavenger.match, faculty_only.columns))
Scavengerdf=faculty_only.loc[:,Scavenger_list]

In [38]:
nonteaching=pd.concat([clerk,LDC,UDC,Attendant,FTM,Mineal,Menial,Meneal,Aya,Cleaner,Librarian,Watcher,Matron,Cook,Guide,packer,Superintendent,sweepdf,Scavengerdf],axis=1)

In [39]:
nonteaching

    Clerk   ...  Part Time Sweeper(5520/8 Year)
0      1.0  ...                              NaN
0      NaN  ...                              NaN
0      NaN  ...                              NaN
0      NaN  ...                              NaN
0      NaN  ...                              NaN
..     ...  ...                              ...
0      NaN  ...                              NaN
0      NaN  ...                              NaN
0      NaN  ...                              NaN
0      NaN  ...                              NaN
0      NaN  ...                              NaN

[911 rows x 62 columns]

In [40]:
n=nonteaching.columns.values.tolist()
n

['Clerk ',
 'LD Clerk (8 Yrs Not Qualified) ',
 'Senior Clerk (15 yrs HG) ',
 'Senior Clerk 15 yrs not qualified ',
 'LD Clerk (8 Yrs Qualified) ',
 'Head Clerk (22 yrs HG) ',
 'LD Clerk HG ',
 'LD Clerk (22 Yrs HG Qualified) ',
 'Senior Clerk ',
 'U.D.Clerk (Sel Gr) ',
 'LD Clerk (15 Yrs HG Qualified) ',
 'LD Clerk (15 Yrs HG) (26500 - 56700) ',
 'LD Clerk (22 Yrs Not Qualified) ',
 'U.D Clerk(HG) ',
 'LD Clerk (27 Yrs HG Qualified) ',
 'Clerk cum Typist ',
 'Clerk cum Typist Snr Gr ',
 'LD Clerk (27 Yrs HG Not Qualified) ',
 'LD Clerk (15 Yrs Not Qualified) ',
 'LD Clerk 27 yrs TBHG ',
 'Head Clerk ',
 'LDC(Aided16yr) ',
 'Office Attendant (8 Yrs HG) ',
 'Office Attendant Snr Grade ',
 'Office Attendant (22 Years HG) ',
 'Office Attendant (15 Yrs HG) ',
 'Office Attendant ',
 'Office Attendant Gr II ',
 'Office Attendant Sel Gr ',
 'Office Attendent Sel Gr(9190-15780) ',
 'Office Attendant (27 Years HG) ',
 'Office Attendant HG ',
 'Attender ',
 'Office Attendant Gr I ',
 'Office Attendant (27  Yrs HG) ',
 'Attender 1st HG ',
 'FTM ',
 'FTM 2nd HG ',
 'FTM  1st HG ',
 'FTM 3rd HG ',
 'FTM 4th HG ',
 'Part-Time Mineal (BP 2700) ',
 'Part-Time Mineal (BP 2300+DA) ',
 'Part-Time Mineal (BP 3000) ',
 'Part-Time Mineal (BP 2500) ',
 'Part Time Menial(4850-7500) ',
 'Part Time Menial(4850/8Yrs) ',
 'Part Time Menial(4250/8Yrs) ',
 'Part Time Menial(4250-6700) ',
 'Part Time Meneal (4850/22 Yrs) ',
 'Ayah Gr I (8yrs) ',
 'Ayah Gr II (15 yrs) ',
 'Matron 15 Yrs HG ',
 'Matron 8 Yrs HG ',
 'Cook 8 Yrs HG ',
 'Cook ',
 'Male Guide 22 Yrs HG ',
 'Senior Superintendent ',
 'Part Time Sweeper(5520-8400) ',
 'Part Time Sweeper(4850-7500) ',
 'Part Time Sweeper(4250-6700) ',
 'Part Time Sweeper(5520/8 Year) ']

In [41]:
classified_columns(nonteaching.columns)
faculty_only.drop(nonteaching.columns, axis = 1, inplace = True)

In [42]:
nonteaching=nonteaching.sum(1)
Non_Teaching=nonteaching.to_frame(name='Non_Teaching')
Non_Teaching

    Non_Teaching
0            5.0
0            0.0
0            0.0
0            5.0
0            1.0
..           ...
0            2.0
0            1.0
0            1.0
0            0.0
0            1.0

[911 rows x 1 columns]

In [43]:
print(len(classified))
print(faculty_only.shape)

299
(911, 26)

## Headmaster/headmistress:

In [44]:
head = faculty_only.filter(like="Headm").astype(float)

In [45]:
classified_columns(head.columns)
faculty_only.drop(head.columns, axis = 1, inplace = True)

In [46]:
head=head.sum(1)
Head_Teachers=head.to_frame(name='Head_Teachers')
Head_Teachers

    Head_Teachers
0             1.0
0             0.0
0             0.0
0             0.0
0             1.0
..            ...
0             1.0
0             0.0
0             1.0
0             1.0
0             1.0

[911 rows x 1 columns]

In [47]:
print(len(classified))
print(faculty_only.shape)

320
(911, 5)

## unclassified columns:

In [48]:
o=faculty_only.columns.values.tolist()
o

['Principal ',
 'Teacher Educator Snr Gr ',
 'Teacher Educator HG ',
 'Teacher Snr. Grd ',
 'Teacher Educator Sel Gr ']

In [ ]:
assistant = faculty_only.filter(like="Assistant Teacher").astype(float)

In [ ]:
assistant.notnull().sum()

Assistant Teacher (without Spl. Trg.) Sel. Gr     5
Assistant Teacher (Special School)                5
Assistant Teacher (with Spl Trg.)Sel. Gr          2
Assistant Teacher (with Spl Trg.)Snr. Gr          3
Assistant Teacher (with Spl Trg.) HG              2
Assistant Teacher (with Spl Trg.)Grd I            1
Assistant Teacher (with Spl Trg.)Grd II           1
dtype: int64

In [ ]:
assistant.count()

Assistant Teacher (without Spl. Trg.) Sel. Gr     5
Assistant Teacher (Special School)                5
Assistant Teacher (with Spl Trg.)Sel. Gr          2
Assistant Teacher (with Spl Trg.)Snr. Gr          3
Assistant Teacher (with Spl Trg.) HG              2
Assistant Teacher (with Spl Trg.)Grd I            1
Assistant Teacher (with Spl Trg.)Grd II           1
dtype: int64

# DataFrame for finding student teacher ratio:

In [49]:
final_data.shape  #original table

(911, 542)

In [50]:
final_data.head(3)

  School Code HSS Code  ... Arabic (HG)  Teacher Educator Sel Gr
0       44031     1083  ...          NaN                      NaN
0       42564      NIL  ...          NaN                      NaN
0       42425      NIL  ...          NaN                      NaN

[3 rows x 542 columns]

columns needed for this dataframe:

'School Code' 'School Name' 'School Type' 'School Level' 'UDISE Code' 'Panchayat/ Municipality/ Corporation' LP_Teachers UP_Teachers High_School_Teachers Activity_Teachers Non_Teaching Head_Teachers

In [51]:
ratio_df1=final_data[['School Code' ,'School Name','School Type' ,'School Level' ,'UDISE Code' ,'Panchayat/ Municipality/ Corporation']]

In [52]:
ratio_df1.shape

(911, 6)

In [55]:
student=final_data.filter(like="ALL_Total").astype(float)

In [65]:
student.head(10)

   ALL_Total_5  ALL_Total_6  ALL_Total_7  ...  ALL_Total_2  ALL_Total_3  ALL_Total_4
0        155.0        227.0        190.0  ...          NaN          NaN          NaN
0          NaN          NaN          NaN  ...        131.0        128.0        133.0
0          NaN          NaN          NaN  ...         44.0         59.0         63.0
0         68.0         78.0        106.0  ...          NaN          NaN          NaN
0         58.0         54.0         49.0  ...          NaN          NaN          NaN
0          NaN          NaN          NaN  ...         45.0         42.0         56.0
0         55.0         62.0         74.0  ...         32.0         37.0         39.0
0          NaN          NaN          NaN  ...         35.0         35.0         34.0
0         94.0         93.0        113.0  ...          NaN          NaN          NaN
0          NaN        113.0        147.0  ...          NaN          NaN          NaN

[10 rows x 12 columns]

In [56]:
LP_students=student['ALL_Total_1']+student['ALL_Total_2']+student['ALL_Total_3']+student['ALL_Total_4']
UP_students=student['ALL_Total_5']+student['ALL_Total_6']+student['ALL_Total_7']
HS_students=student['ALL_Total_8']+student['ALL_Total_9']+student['ALL_Total_10']

In [57]:
ratio_df=pd.concat([ratio_df1,LP_Teachers,UP_Teachers,High_School_Teachers,Activity_Teachers,Non_Teaching,Head_Teachers],axis=1)

In [58]:
ratio_df['LP_students']=LP_students
ratio_df['UP_students']=UP_students
ratio_df['HS_students']=HS_students

In [59]:
ratio_df.head(3)

  School Code                        School Name  ... UP_students HS_students
0       44031  J. P. H. S. S.Ottasekharamangalam  ...       572.0       761.0
0       42564                    GOVT.L.P.S ANAD  ...         NaN         NaN
0       42425                PVLPS Kailasamkunnu  ...         NaN         NaN

[3 rows x 15 columns]

In [60]:
#we need to add activity teachers to lp up and s catagories b4 fining the ratio

In [61]:
LP_rtio=ratio_df['LP_students']/(ratio_df['LP_Teachers']+ratio_df['Music/craft/pt/drawing/needle_work/sewing'])
UP_rtio=ratio_df['UP_students']/(ratio_df['UP_Teachers']+ratio_df['Music/craft/pt/drawing/needle_work/sewing'])
HS_rtio=ratio_df['HS_students']/(ratio_df['High_School_Teachers']+ratio_df['Music/craft/pt/drawing/needle_work/sewing'])

In [62]:
ratio_df['LP_ratio']=LP_rtio
ratio_df['UP_ratio']=UP_rtio
ratio_df['HS_ratio']=HS_rtio

In [63]:
ratio_df.head(10)

  School Code                         School Name  ...    UP_ratio   HS_ratio
0       44031   J. P. H. S. S.Ottasekharamangalam  ...   30.105263  15.220000
0       42564                     GOVT.L.P.S ANAD  ...         NaN        NaN
0       42425                 PVLPS Kailasamkunnu  ...         NaN        NaN
0       42013           S C V B H SChirayinkeezhu  ...   21.000000  15.034483
0       42553                  KKVUPS Vettampally  ...   23.000000        NaN
0       42332               Govt. L P SPerunguzhy  ...         NaN        NaN
0       42065              Govt. HSSThattathumala  ...   31.833333  14.421053
0       43220        B. N. V. L. P. S.Punchakkari  ...         NaN        NaN
0       44024  Govt. H. S. S. forGirls Malayinkil  ...  100.000000  13.272727
0       44037  Govt. H S S forGirls Neyyattinkara  ...         NaN  15.891892

[10 rows x 18 columns]

In [64]:
final_data.head()

  School Code HSS Code  ... Arabic (HG)  Teacher Educator Sel Gr
0       44031     1083  ...          NaN                      NaN
0       42564      NIL  ...          NaN                      NaN
0       42425      NIL  ...          NaN                      NaN
0       42013      NIL  ...          NaN                      NaN
0       42553      NIL  ...          NaN                      NaN

[5 rows x 542 columns]